{% extends "base.html" %}

{% block body_content %}
<section id="details">
  <div class="page-header">
    <h1>Event Details
    <small>Generates event code</small>
    </h1>
  </div>
  <div class="row">
    <div class="span12">
      <div class="control-group">
        <label class="control-label" for="input01">Event Name</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input_name" placeholder="Bar Camp">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input01">Event Code</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input_code" value="t3555">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input01">Event URL</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input_url">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="input01">Event Date</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input_date">
        </div>
        <label class="control-label" for="input01">Event Time</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="input_time">
          <select class="span1">
            <option>AM</option>
            <option>PM</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="topics">
  <div class="page-header">
    <h1>Event Discussion Topics
    <small>Select topics of discussion</small>
    </h1>
  </div>

  <div class="row">
    <div class="span12"> 
      <form class="form-horizontal">
        <fieldset>
          {% for t in topics %}
          <div class="control-group">
            <label class="control-label">{{t.title}}</label>
            <div class="controls docs-input-sizes">
              <select class="span8">
                {% for q in t.questions %}
                <option>{{q}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% endfor %}

          <div class="control-group">
            <a class="btn btn-primary" href="#"><i class="icon-plus icon-white"></i> Add Round</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>

<section id="duration">
  <div class="page-header">
    <h1>Event Duration 
    <small>Select the time duration of each round</small>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      How long do you want each round to last for?  We recommend 5 minutes.
    </div>
    <div class="span12">
      <form class="form-horizontal">
        <fieldset>
          <div class="span12">
            &nbsp;
          </div>
          <div class="control-group">
            <label class="control-label">Each round duration</label>
            <div class="controls docs-input-sizes">
              <input class="span1" type="text" placeholder="5"> minutes
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="span12">
      Total event duration will be approximately: <b>number of topics</b> <i class="icon-remove"></i> (<b>round duration</b> <i class="icon-plus"></i> <b>transition time [~3 mins]</b>)
    </div>
  </div>
</section>

<section id="invitees">
  <div class="page-header">
    <h1>Invitees
    <small>Participant status</small>
    </h1>
  </div>
  <div class="btn-group">
    <button class="btn">Remind</button>
    <button class="btn">Remove</button>
    <button class="btn">Edit</button>
  </div>
  <div class="row">
    <div class="span12">
    <table class="table">
      <thead>
        <tr>
          <th>Select</th>
          <th>Email</th>
          <th>Nick name</th>
          <th>Survey completed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            <a href="mailto:sally.brooks@gmail.com">sally.brooks@gmail.com</a>
          </td>
          <td>
            Sally B.
          </td>
          <td>
            <i class="icon-ok"></i>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            <a href="mailto:sally.brooks@gmail.com">sally.brooks@gmail.com</a>
          </td>
          <td>
            Sally B.
          </td>
          <td>
            <i class="icon-ok"></i>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            <a href="mailto:sally.brooks@gmail.com">sally.brooks@gmail.com</a>
          </td>
          <td>
            Sally B.
          </td>
          <td>
            <i class="icon-ok"></i>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            <a href="mailto:sally.brooks@gmail.com">sally.brooks@gmail.com</a>
          </td>
          <td>
            Sally B.
          </td>
          <td>
            <i class="icon-ok"></i>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            <a href="mailto:sally.brooks@gmail.com">sally.brooks@gmail.com</a>
          </td>
          <td>
            Sally B.
          </td>
          <td>
            <i class="icon-ok"></i>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            <a href="mailto:sally.brooks@gmail.com">sally.brooks@gmail.com</a>
          </td>
          <td>
            Sally B.
          </td>
          <td>
            <i class="icon-ok"></i>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>
            <a href="mailto:sally.brooks@gmail.com">sally.brooks@gmail.com</a>
          </td>
          <td>
            Sally B.
          </td>
          <td>
            <i class="icon-ok"></i>
          </td>
        </tr>
      </tbody>
    </table> 
    </div>

  </div>
</section>

<div class="form-actions">
  <!-- <button type="submit" class="btn btn-primary">Login</button> -->
  <a href="{% url event_start %}" class="btn btn-large btn-primary">Event Start</a>
</div>

{% endblock body_content %}

{% block additional_scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
        $('#input_name').tooltip({'trigger': 'focus', 'placement': 'right', 'title':'Create a name for the event'});
        $('#input_code').tooltip({'trigger': 'focus', 'placement': 'right', 'title':'You can customize your event code'});
        $('#input_url').tooltip({'trigger': 'focus', 'placement': 'right', 'title':'Homepage URL for your event'});
        $('#input_date').tooltip({'trigger': 'focus', 'placement': 'right', 'title':'Date of your event'});
        $('#input_time').tooltip({'trigger': 'focus', 'placement': 'right', 'title':'Start time of your networking event'});
        });
  </script>

{% endblock additional_scripts %}
