{% extends "base.html" %}

{% block body_content %}

<div class="row">
  <div class="span12">
    <img width="120" src="{{ STATIC_URL }}imgs/Logo.png">
  </div>
</div>
<div class="create-event-screen">
  <div class="row">
    <div class="span4">&nbsp;</div>
    <div class="span4">
      <form class="form-horizontal">
        <fieldset>
          <center>
          <legend>Create Event</legend>
          <div class="control-group">
              <input type="text" class="input-xlarge" id="input01" placeholder="E-mail">
          </div>
          <div class="control-group">
              <input type="text" class="input-xlarge" id="input01" placeholder="Enter the event name">
          </div>
          <div class="form-actions" style="padding-left:0px;">
            <!-- <button type="submit" class="btn btn-primary">Create Event</a></button>-->
            <a href="{% url event_configure %}" class="btn btn-large btn-primary">Create Event</a>
          </div>
        </center>
        </fieldset>
      </form>

    </div>
    <div class="span4">&nbsp;</div>
  </div>
</div>

<div class="hero-unit">
  <h1>Use T+1 to network...</h1>
  <p>and faciliate speed networking</p>
  <p></p>
  <p>Please fill out the following survey and help us understand your needs:</p>
  <p><a href="http://www.surveygizmo.com/s3/912160/t-1">Survey</a></p>
  <p></p>
  <p>Video</p>
</div>

<div class="row">
  <div class="span12">
    <center>
    <img width="350" src="{{ STATIC_URL }}imgs/Deliberative_Democracy_Logo.png">
    <img width="100" src="{{ STATIC_URL }}imgs/media_lab_logo.png">
    <img width="300" src="{{ STATIC_URL }}imgs/IDEO_logo.png">
    </center>
  </div>
</div>
<div class="footer">
  <div class="footer-body">
 Copyright &copy; T+1 2012
 </div>
</div>
{% endblock body_content %}
